@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');


* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.footer{
    border-top: 1px solid #56C4F2;
    padding-top: 20px;
}

/* icons */
.icons-blue{
    color: #56C4F2;
}